

#ba1{filter: brightness(50%);}

#laconferencia{padding-right: 17%;
  padding-bottom: 5%;}

.btn-success{background: #2ba847;}

#floatingTextarea2{height: 100px}

#honolulu {background-color: rgb(61, 61, 61);}


form{margin-bottom: 2rem;}

footer {background-color:#1e4c66;}
